<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
        {%- if seo is defined -%}
            {{- seo.title() -}}
        {%- else -%}
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
            {{- app.config.get('general/sitename') -}}
            {% if record.title is not defined and app.config.get('general/payoff') %} | {{ app.config.get('general/payoff') }}{% endif -%}
        {%- endif -%}
        </title>

        <link rel="stylesheet" href="{{ paths.theme }}css/main.css">
        {% block headincludes %}
        {% endblock headincludes %}

        {# {% if seo is defined %}
        {{ seo.metatags() }}
        {% endif %} #}

        <!-- FAVICONS -->
        {{ include('partials/_favicons.twig') }}

    </head>
    <body>
        {% block body %}

        {% block main %}
        {% endblock main %}

        {% endblock body %}

        <script src="{{ asset('js/app.min.js', 'theme') }}"></script>

        {% block bottomincludes %}
        {% endblock bottomincludes %}
    </body>
</html>
